<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HeyTaxi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF68778D1E5C737C007070D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF6877A41E5C737C007070D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF6877AF1E5C737C007070D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
